#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid white;
    position: fixed;
    border-radius: 4px;
    z-index: 1;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    position: fixed;
    border-radius: 100px;
    z-index: 2;
    pointer-events: none;
}

html {
    cursor: none;
}

a {
    cursor: none;
}


.attract-hover {
  display: block;
}

.attract-hover-easing {
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


.buthov {
  /*color: #FFF;
  font-size: 30px;*/
}

.attract-hover,
.attract-hover-proximity {
 /* display: inline-block;
  border-radius: 100%;*/
}

.attract-hover-proximity {  
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
    height: 200px;
}
.clrdrk{
    border:2px solid #fff;
}
.clrlig{
    border:2px solid #000096;
}

.clrfntdrk{
    color: #fff;
}
.clrfntlig{
    color: #000096;
}