.edit_projfrm
	{
		width: 65%;
    margin: 99px auto;
    overflow: scroll;
    height: 600px;
	} 
	.marb100
	{
		margin-bottom: 100px;
	}
	.edit_projfrm h3
	{
		text-align: center;
	}
	.edit_projfrm h6
	{
		text-align: center;
	}
	.logowid
	{
		width: 50px;
	}
	.c-awards-scene {
    margin-top: 0 !important;
    margin: 0 !important;
    margin-left: 0 !important;
    top: -50px !important;
}
.o-vimeo-player video
{
	width: 100%;
	height: 100%;
}

.cat_js_basic select {
    width: 100%;
    height: 45px;
}
.cat_js_basic .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    color: #777;
    font-size: 17px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}
.cat_js_basic .select2-container {
    width: 100% !important;
    height: 45px;
}
.cat_js_basic .select2-container .select2-selection--single {
    height: 45px;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}
.cat_js_basic .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.select2-results__options {
    color: #000 !important;
    font-size: 16px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 43px !important;
        color: #000;
}
.button_sel {
    padding: 10px 50px;
    border-radius: 33px;
    background: #ffffff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
}
.button_sel:hover{
	background: #000;
    color: #fff;
    border: thin solid #fff;
}
.btn_fin
{
    display: none;
}
.err_msg{
	font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 22px;
    margin-top: 22px;
    letter-spacing: 1.2px;
    text-align: center;
    display: none;
}
.img_lod
{
    margin: 0 auto;
    display: none;
}

/*---------------steps--------------*/

.prog_bar{
    position: relative;
    height: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: 0.8s all;
}
.inn_progbar
{
    padding: 0px 0px 20px 0px;
    width: 100%;
    margin: 0 auto;
    transition: 0.8s all;
}
.inn_br
{
    position: absolute;
    width: 25%;
    background-color: #4d84f1;
    height: 100%;
    left: 0;
    border-radius: 50px;
    transition: 1s all;
}
.txt_stp
{
    text-align: center;
    color: #777;
    font-size: 15px;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 15px;
}
.inn_stepslid
{
    width: 55%;
    margin: 150px auto;
    position: relative;
    transition: 0.8s all;
}
.inn_stepslid h4
{
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.btn_frm
{
        padding: 10px 50px;
    border-radius: 33px;
    background: #ffffff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px;
    outline: none;
}
.btn_frm:hover
{
        background: #000;
    color: #fff;
    border: thin solid #fff;
}
.innStep1
{
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.8s all;
}
.innStep2
{
    position: absolute;
    width: 100%;
    left: 100%;
    opacity: 0;
    z-index: 0;
    transition: 0.8s all;
}
.innStep3
{
    position: absolute;
    width: 100%;
    left: 100%;
    opacity: 0;
    z-index: 0;
    transition: 0.8s all;
}
.innStep4
{
    position: absolute;
    width: 100%;
    left: 100%;
    opacity: 0;
    z-index: 0;
    transition: 0.8s all;
}
.actstp
{
    left: 0;
    opacity: 1;
    z-index: 1;
}
.hidstp
{
    left: 0;
    opacity: 0;
    z-index: 0;
}
.hei_over
{
    height: 220px;
    overflow-y: scroll;
}
.cus_selwid
{
    width: 60%;
    margin: 50px auto;
}
.cus_selwid .form-box {
    padding: 0px 0px;
}


/*-------- compititor popup css start -------------*/


.Stepcurr h4
{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #4d84f1;
}
.Stepcurr h2
{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #3a3f48;
    line-height: 28px;
    margin-bottom: 25px;
}
.modbdy {
    position: relative;
    padding: 33px 50px;
}
fieldset {
    min-width: 100%;
    padding: 0px 12px;
    margin: 0;
    border: 2px solid #ddd;
}
legend {
    display: unset;
    width: unset;
    padding: 0;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: inherit;
    color: #333;
    border-bottom: unset;
    padding: 0px 6px;
}
fieldset .form-control
{
    border: none;
    box-shadow: none !important;
    outline: none !important;
    border-color: unset !important;
    font-size: 17px;
    height: 40px;
    padding: 0px 5px;
}
fieldset input
{
    outline: none;
}
.nxtPge
{
    background-color: #0256b8;
    color: #fff;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    letter-spacing: 1px;
}
.bckPge
{
    background-color: transparent;
    color: #0256b8;
    padding: 14px 0px;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
}
#address .col-sm-12,#address .col-sm-6
{
    margin-bottom: 20px;
}
#address strong
{
    font-size: 15px;
}
.bckPge i
{
    font-size: 18px;
    margin-right: 8px;
}
.pac-container {
z-index: 10000;
}
.Step2str
{
    display: none;
}
.Step3str
{
    display: none;
}
.Step3str fieldset
{
    margin-bottom: 20px;
}
.Step3str h2
{
    margin-bottom: 11px;
}
.Step3str p
{
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}
.hei_over::-webkit-scrollbar 
{
  display: none;
}
#address p
{
    margin: 0;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin-left: 6px;
}
.Step2str fieldset
{
    border:2px solid #ddd;
}
.Step2str legend
{
    color: #000;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  position: fixed;
    bottom: 0;
    display: none;
}

#myBar {
  width: 42%;
  height: 11px;
  background-color: #0256b8;
  text-align: center;
  line-height: 30px;
  color: white;
  position: relative;
}
#my_per
{
    position: absolute;
    top: -33px;
    width: 33px;
    height: 33px;
    color: #0256b8;
    font-size: 25px;
    font-weight: 700;
    z-index: 10000;
    right: 20px;
}
/*-------- compititor popup css end -------------*/

/*------------- Patient Loader page start -----------------*/
.BacClr
{
    background-color: #fefefe;
    padding-top: 0rem;
}
.row
{
    margin: 0px !important;
}
.HdrNav
{
    padding: 40px 25px;
    background-color: #fff;
}
.DeskView
{
    width: 80%;
    margin: 0 auto;
}
.SliSec
{
    background-image: url(../../chrome-base.svg);
    height: 400px;
    position: relative;
}
.imgClock
{
    margin-top: -5px;
}
.pad_0
{
    padding: 0px;
}
.btn_Modal
{
    position: absolute;
    top: 40%;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    color: #0256b8;
    border: 2px solid #0256b8;
    padding: 15px 0px;
    text-align: center;
    font-size: 21px;
    outline: none;
    transition: 0.8s all;
}
.btn_Modal:hover
{
    background-color: #0256b8;
    color: #fff;
    transition: 0.8s all;
}
.SlickSli
{
    position: absolute;
    top: 220px;
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.op0zin
{
    opacity: 0;
    z-index: -1;
}
.txtSli h2
{
    font-size: 24px;
    color: #0256b8;
    margin: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
}
.txtSli h3
{
    font-size: 30px;
    color: #5f6882;
    margin: 0px;
    text-align: left;
    line-height: 44px;
    font-weight: 600;
}
.disMsg p
{
    text-align: right;
    color: #bcc0cd;
    font-size: 14px;
}
/*------------- Patient Loader page end -----------------*/

/*------compititors result page start----------------*/
.HedResult
{
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}
.HedResult img
{
    width: 170px;
    margin-top: 10px;
}
.HedResult ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
.HedResult ul li:last-child
{
    margin-right: 0px;
}
.HedResult h2
{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    color: #4e5771;
}
.HedResult p
{
    margin: 0px;
    font-size: 13px;
}
.HedResult ul
{
    margin: 0px;
    padding: 0px;
}
.HedResult button
{
    background-color: #0256b8;
    border-radius: 50px;
    border: 1px solid #0256b8;
    color: #fff;
    padding: 8px 22px;
    font-size: 13px;
    transition: 0.8s all;
}
.HedResult button:hover
{
    background-color: #fff;
    border: 1px solid #0256b8;
    color: #0256b8;
    transition: 0.8s all;
}
.BanRes
{
    background-color: #f7f9fc;
}
.BanRes h1
{
    margin: 0;
    font-size: 58px;
    font-weight: 600;
    color: #343a4b;
    line-height: 65px;
    margin-bottom: 40px;
}
.BanRes p
{
    margin-bottom: 65px;
    font-size: 15px;
    font-weight: 600;
    color: #343a4b;
    line-height: 24px;
}
.BacTxt
{
    padding: 75px 0px 0px 10px;
}
.BacTxt li
{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
.BacTxt li:last-child
{
    margin-right: 0px;
}
.BacTxt ul
{
    padding: 0px;
}
.BacTxt li img
{
    margin-right: 10px;
}
.ScoreRes
{
    padding: 50px 0px;
    background-color: #f7f9fc;
}
.ScoreRes h3
{
    font-size: 32px;
    font-weight: 600;
    color: #f6606e;
    margin: 0;
    margin-bottom: 15px;
}
.ScoreRes p
{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.ScoreRes h2
{
    font-size: 32px;
    font-weight: 600;
    color: #343a4b;
    margin: 0;
    margin-bottom: 15px;
}
.pracGrow p
{
    font-size: 16px;
    font-weight: 500;
}
.pracGrow ul
{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.pracGrow ul li
{
    list-style: none;
    margin-bottom: 30px;
}
.Rnk
{
    font-size: 21px;
    font-weight: 600;
    color: #bcc0cd;
    margin-right: 15px;
}
.RTxt
{
    font-size: 15px;
    font-weight: 600;
}
.BClr
{
    color: #2c98f7 !important;
}
.NxtRslt
{
        font-size: 16px !important;
    padding: 0px 35px;
    margin-top: 40px;
    margin-bottom: 35px;
    font-weight: 600;
}
.boxShd
{
    box-shadow: 0 -5px 12px -5px rgba(0,0,0,.1);
}
.ResMap h2
{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
    margin-bottom: 30px;
}
.TxtGrap
{
    padding: 0px 57px;
}
.TxtGrap p
{
    font-size: 15px;
    line-height: 25px;
    color: #4e5771;
    margin: 0;
}
.TxtGrap ul
{
    padding: 0px;
    margin: 0px;
    margin-top: 25px;
}
.TxtGrap ul li
{
    list-style: none;
    padding: 21px 0px;
}
.TxtGrap ul li:first-child
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.TxtGrap ul li:last-child
{
    border-bottom: 1px solid #ddd;
}
.TxtGrap .col-sm-10
{
    text-align: left;
}
.TxtGrap .col-sm-2
{
    text-align: right;
}
.pad_grph
{
    padding: 20px 15px;
}
.ResMap h4
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    line-height: 28px;
}
.bac_clrMap
{
    background-color: #f8fbfd;
        padding: 90px 50px;
}
.DrName
{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #777;
    margin-bottom: 65px;
}
.fot_pink
{
    font-size: 20px;
    font-weight: 600;
    color: #f6606e;
}
.fot_orr
{
    font-size: 20px;
    font-weight: 600;
    color: #fac444;
}
.OfRes b
{
    font-size: 31px;
    color: #4e5771;
    margin-right: 5px;
}
.OfRes span
{
    font-size: 14px;    
}
.ResFinBac
{
    background-color: #2c98f7;
    padding: 50px 75px;
}
.ResFin
{
    background-color: #fff;
    padding: 75px;
}
.btnFinGrph
{
    background-color: #0256b8;
    border-radius: 50px;
    border: 1px solid #0256b8;
    color: #fff;
    padding: 15px 22px;
    font-size: 17px;
    transition: 0.8s all;
}
.NxtLin
{
    font-size: 18px;
}
.ResFin h1
{
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 45px;
}
.ResFin h4
{
    margin-bottom: 45px;
    line-height: 28px;
    font-size: 17px;
}
.c-project-header_block-bottom
{
    z-index: 1;
}

.c-project-header_block
{
    z-index: 10;
}

.hidTxt {
    color: #eb2931;
    width: 500px;
    overflow: hidden;
    position: relative;
    top: 97px;
}
.hidS1
{
    position: absolute;
}
.GetBtnSit
{
    position: relative;
    z-index: 1000;
}
.GetHed
{
    position: relative;
    top: 73px;
}
.GetUp
{
    margin-top: -8.9rem;
    position: absolute;
    margin-top: -9.4rem;
    width: 29.6%;
    overflow: hidden;
}
.outer-position{
    left: 33% !important;
    top: 70% !important;
}
.inner-width{
    width: 45% !important;
    height: 0% !important;
    margin-top: -2rem;
}
.exp{
    font-size: 6rem;
}
/*------compititors result page end----------------*/

/*----------------------------------*/

@media(min-width: 320px) and (max-width: 767px){
    .inn_progbar {
    padding: 60px 0px 35px 0px;
    width: 80%;
}
.exp{font-size: 4rem;}
.mob-id{
    display: none;
}
.inn_stepslid {
    width: 95%;
    }
    .cus_selwid {
    width: 95%;
}
.outer-position{
    left:0% !important;
    top: 136% !important;
    display: none;
}
.inner-width{
    width: 45% !important;
    height: 0% !important;
    margin-top: -2rem;
}

}