.edit_projfrm
	{
		width: 65%;
    margin: 99px auto;
    overflow: scroll;
    height: 600px;
	}
	.marb100
	{
		margin-bottom: 100px;
	}
	.edit_projfrm h3
	{
		text-align: center;
	}
	.edit_projfrm h6
	{
		text-align: center;
	}
	.logowid
	{
		width: 50px;
	}
	.c-awards-scene {
    margin-top: 0 !important;
    margin: 0 !important;
    margin-left: 0 !important;
    top: -50px !important;
} 